# Ignorar archivos generados por Android Studio
.idea/
.gradle/
local.properties
.DS_Store

# Ignorar carpetas de compilación
/build/
app/build/

# Ignorar archivos de log
*.log

# Ignorar archivos específicos de sistema operativo
Thumbs.db
*.swp
*.swo

# No ignorar las fuentes
!res/font/
